.card {
  width: 300px;
  box-sizing: border-box;
}

.poster {
  max-width: 100%;
}

.info__wrapper {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.thumbnail {
  width: 36px;
  max-width: 100%;
  border-radius: 15%;
}

.bottom__info {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
}

.info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
}

.director {
  width: fit-content;
}

.year {
  margin-left: 30px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $black;
    top: calc(50% - 2.5px);
    left: calc((-5px - 30px) / 2);
  }
}
