.burger {
  width: 40px;
  height: 30px;
  position: absolute;
  display: none;
  z-index: 2;
  transition: 0.1s;
  border: 0;
  background-color: transparent;

  &.dark {
    .line,
    .line::after,
    .line::before {
      background-color: $dark-text-color;
    }
  }

  @media screen and (max-width: 800px) {
    display: block;
    right: 40px;
  }

  @media screen and (max-width: 440px) {
    right: 15px;
  }

  &.active {
    position: fixed;

    .line::before {
      transform: rotate(45deg);
      top: 0;
    }

    .line {
      background-color: transparent;
      position: absolute;
      top: 13px;
    }

    .line::after {
      transform: rotate(-45deg);
      top: auto;
      bottom: 0;
    }
  }
}

.line,
.line::after,
.line::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: $black;
  border-radius: 3px;
  position: absolute;
  left: 0;
  transition: transform 0.2s;
}

.line {
  top: 5px;
}

.line::after {
  position: absolute;

  top: 10px;
}

.line::before {
  position: absolute;
  top: 20px;
}
