$black: #000;
$white: #fff;

$buttons-color: #ff8a00;
$control-button-color: rgba(0, 0, 0, 0.06);
$control-border-color: rgba(0, 0, 0, 0.1);
$stub-color: rgba(0, 0, 0, 0.25);
$stub-blick-color: rgba(255, 255, 255, 0.5);
$border-color: #c4c4c4;

$footer-line-color: #999;
$dark-footer-line-color: #99999999;

$license-text-color: rgba(0, 0, 0, 0.5);
$dark-license-text-color: rgba(255, 255, 255, 0.7);

$dark-text-color: rgba(255, 255, 255, 0.9);
$dark-theme: #121212;
$dark-buttons-color: #ffa840;
$dark-control-border: #878787;
$dark-stub-blick-color: rgba(255, 255, 255, 0.1);
$dark-stub-color: rgba(255, 255, 255, 0.25);

$blackout: rgba(0, 0, 0, 0.9);
