$black: #000;
$white: #fff;
$buttons-color: #ff8a00;
$inactive-color-button: rgba(0, 0, 0, 0.06);
$inactive-border-button: rgba(0, 0, 0, 0.1);
$stub-color: rgba(0, 0, 0, 0.25);
$stub-blick-color: rgba(255, 255, 255, 0.5);
