.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;

  &.light {
    background-color: $white;
  }

  &.dark {
    background-color: $dark-theme;
  }
}
