.modal {
  width: 70vw;
  min-width: 300px;
  min-height: 240px;
  height: 40vw;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 2s;

  @keyframes scale {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  &.active {
    animation: scale 0.2s linear;
  }

  @media screen and (max-width: 720px) {
    width: 80vw;
    height: 45vw;
  }

  @media screen and (max-width: 540px) {
    height: 20vw;
  }
}

.blackout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: $blackout;
  z-index: 6;
}

.close {
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid $white;
  width: 40px;
  height: 40px;
  transition: 0.1s;

  @media screen and (max-width: 720px) {
    right: 0;
    top: -50px;
  }
}

.close:hover {
  background-color: $white;
  border-color: $black;

  & .line,
  .line::before {
    background-color: $black;
  }
}

.line,
.line::before {
  content: '';
  left: 0;
  right: 0;
  top: 13px;
  margin: auto;
  width: 27px;
  height: 3px;
  background-color: $white;
  border-radius: 2px;
  transform: rotate(45deg);
}

.line::before {
  position: absolute;
  top: 0;
  transform: rotate(90deg);
}
