* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

:root {
  $black: #000;
  $white: #fff;
  $buttons-color: #ff8a00;
  $inactive-color: rgba(0, 0, 0, 0.06);
  $inactive-border: rgba(0, 0, 0, 0.1);
}
