.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards > * {
  margin: 2%;
}

.error {
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  display: block;
  width: fit-content;
}
