.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 2%;
  }

  @media screen and (max-width: 650px) {
    & > * {
      margin: 15px 15px;
    }
  }
}

.error {
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  display: block;
  width: fit-content;
}
